.example-spacer {
    flex: 1 1 auto;
}

p{
  margin-block-start: 0!important ;
  margin-block-end: 0!important;
}

.example-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 75%;
  background-color: rgb(247, 247, 247);
  color: rgb(189, 189, 189);
}

.titulo-principal{
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.example-card {
  max-width: 100%;;
  margin-bottom: 2ex;
}
.cards{
    margin-top: 2ex;
    min-height: 8ex;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}
.ing{
  color:rgb(110, 110, 110);
}
mat-card {
  background: #fff!important;
  color: rgba(0,0,0,.87);
}

.conteudo-card{
  background-color: initial; 
  margin-left: 2%; 
  margin-right: 2%; 
  margin-top: 6%;
  font-size: 12px;
}