<mat-sidenav-container>
      <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button class="example-icon" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="titulo-principal">{{title}}</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
       </mat-sidenav-content>
</mat-sidenav-container>
<mat-card class="example-card">
  <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile  [colspan]="1" [rowspan]="1">
          <div mat-card-sm-image class="example-header-image"  [ngStyle]="{'background-image': 'url(' + restaurante.imagem + ')'}"></div>
      </mat-grid-tile>
      <mat-grid-tile  [colspan]="3" [rowspan]="1" style="cursor: pointer;" (click)="retornaHome()">
          <mat-card-title>{{restaurante.nome}}</mat-card-title>
      </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-grid-list cols="4" rowHeight="15px">
  <mat-grid-tile  [colspan]="3" [rowspan]="1">
  </mat-grid-tile>
  <mat-grid-tile  [colspan]="1" [rowspan]="1">
    <span style="text-align: center;">Mesa 2</span>
  </mat-grid-tile>
</mat-grid-list>



  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul>
        <li>
            opcao1
        </li>
        <li>
            opcao2
        </li>
    </ul>
    </mat-drawer>

  </mat-drawer-container> -->