<app-header></app-header>

<!-- routes will be rendered here -->
<router-outlet>
    <mat-card class="example-card">

            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile  [colspan]="1" [rowspan]="1">
                    <div mat-card-sm-image class="example-header-image"  [ngStyle]="{'background-image': 'url(' + restaurante.imagem + ')'}"></div>
                </mat-grid-tile>
                <mat-grid-tile  [colspan]="3" [rowspan]="1">
                    <mat-card-title>{{restaurante.nome}}</mat-card-title>
                </mat-grid-tile>
            </mat-grid-list>
          
         
     
    </mat-card>
    <mat-grid-list cols="4" rowHeight="30px">
        <mat-grid-tile  [colspan]="3" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile  [colspan]="1" [rowspan]="1">
            <span style="text-align: center;">Mesa 2</span>
        </mat-grid-tile>
        <mat-grid-tile  [colspan]="4" [rowspan]="2">
                <span style="text-align: center;">Cardápio</span>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card-content *ngFor="let ca of cardapio" class="conteudo-card">
        <mat-grid-list cols="4" rowHeight="100px" (click)="entrarItem(ca.item)" style="cursor: pointer;">
            <mat-grid-tile style="max-width: 70%;" [colspan]="3"[rowspan]="1">
                <span>{{ca.item}} - {{ca.titulo}}<p class="ing">{{ca.ingredientes}}</p><p class="ing">{{ca.valorCliente}}</p></span>               
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <div style="margin-top: 7%; "></div>
                <div class="example-header-image" mat-card-sm-image [ngStyle]="{'background-image': 'url(' + ca.imagem + ')'}"></div>
            </mat-grid-tile>

        </mat-grid-list>
          
       
        <!-- <mat-card  >Simple card</mat-card>  -->
    </mat-card-content>
  
</router-outlet>
<!-- footer -->
<app-footer></app-footer>